

PORT=4000
CLIENT_URL=http://localhost:5173

MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/interviewiq?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USERNAME=
EMAIL_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
